{% extends "base.html" %}
{% block title %}{{ datos.get("name") }}{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}
{% block content %}
    <h1 class="text-xl font-bold">{{ datos.get("name") }}</h1>
    <h2>Descripción</h2>
    <hr>
    <p>{{ datos.get("public_info") }}</p>
    <div class="grid grid-cols-2 gap-x-5">
        <div>
            <h2>Localización</h2>
            <hr>
            <div id="map" class="w-full h-60"></div>
            <script src="../static/mapa.js"></script>
            <script>
                L.marker([{{ datos.get("map").get("lat") }}, {{ datos.get("map").get("lon") }}]).addTo(map).bindPopup("{{ datos.get("popup") }}").openPopup();
                map.setView([{{ datos.get("map").get("lat") }}, {{ datos.get("map").get("lon") }}], 12);
            </script>
        </div>
    <div>
        <h2>Indexación</h2>
        <hr>
        <p>{{ datos.get("indexation") }}</p>
        <br>
        <h2>Tamaño del tesoro</h2>
        <hr>
        <p>X</p>
        <br>
        <h2>Bibliografía</h2>
        <hr>
        <p>{{ datos.get("biblio") }}</p>
    </div>
    </div>
    <h2>Muestra de monedas</h2>
    <hr>
    <br>
    <div class="grid grid-cols-3 gap-x-5 gap-y-0 h-1/2">
        {% for i in datos.get("muestra") %}
            <div class="card card-compact w-auto h-full bg-base-100 shadow-xl">
                <figure class="h-1/2">
                    <img class="h-full" src="{{ i.get("image_obverse") }}"
                         alt="/../static/logo-sinletras-sinfondo.jpg"/>
                    <img class="h-full" src="{{ i.get("image_reverse") }}"
                         alt="/../static/logo-sinletras-sinfondo.jpg"/>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{ i.get("section_id") }} - {{ i.get("mint")[0] }}
                        - {{ i.get("catalogue_type_mint")[0] }}</h2>
                    <a href="/moneda/{{ i.get("section_id") }}"><p>Más información</p></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}