/venv/
/.idea/
/Telegram bot/TOKEN_TELEGRAM.txt
/Twitter bot/API_KEY.txt
/Twitter bot/API_KEY_SECRET.txt
/Twitter bot/BEARER_TOKEN.txt
/Twitter bot/ACCESS_TOKEN.txt
/Twitter bot/ACCESS_TOKEN_SECRET.txt
/website/GOOGLE_API.txt
/Data extraction/*.accdb
/Data extraction/*.csv
/Data extraction/*.xlsx
/Data extraction/*.tsv
/Instagram bot/
/website/informes/*.pdf
/website/tests/geckodriver.log
/website/.scannerwork
/.scannerwork