<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Archeomoneta">
    <meta name="keywords" content="WonderCoins, Archeomoneta, numismatica">
    <meta name="author" content="Ángel Vila Vidal">
    <title>Archeomoneta - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/src/tail.css">
    {% block scripts %}{% endblock %}
</head>
<body>
<div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content">
        <div class="flex flex-col h-screen justify-between">
            <header class="h-1/6">
                <div class="navbar bg-cabecera rounded-sm overflow-hidden h-5/6">
                    <div class="navbar-start">
                        <div>
                            <img class="w-2/3" src="../static/WONDERLOGO_sin%20letras-sinfondo.png" alt="WonderCoins"/>
                        </div>
                    </div>
                    <div class="navbar-center">
                        <a href="/inicio">
                            <h1 class="text-8xl text-center font-alice font-bold text-blanco">ARCHEOMONETA</h1>
                        </a>
                    </div>
                    <div class="navbar-end">
                        <label for="my-drawer" class="btn btn-lg btn-outline drawer-button">MENÚ</label>
                    </div>
                </div>
            </header>
            <div class="flex-grow mx-[15%] my-2">
                {% block content %}{% endblock %}
            </div>
            <footer class="footer footer-center bg-neutral text-neutral-content p-10 m-0">
                <div class="items-center grid-flow-col gap-x-5 mx-[10%]">
                    <img alt="Universidad de Cádiz" src="static/logo_uca_menor2.jpg">
                    <img alt="Laboratorio de Arqueología y Prehistoria" src="static/labap-logo.jpg">
                    <img alt="Escuela superior de Ingeniería" src="static/esi-logo.jpeg">
                    <img alt="Campus de Excelencia Internacional del Mar" src="static/ceimar-logo.jpg">
                    <img alt="Junta de Andalucía" src="static/junta-andalucia-logo.jpg">
                    <img alt="Andalucía se mueve con Europa" src="static/andalucia-logo.jpg">
                </div>
            </footer>
        </div>
    </div>
    <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
            <li><a href="/inicio">Menú</a></li>
            <li><a href="/buscador">Catálogo de monedas</a></li>
            <li><a href="/buscador_tipos">Catálogo de tipos</a></li>
            <li><a href="/tesoros">Tesoros</a></li>
            <li><a href="/hallazgos">Hallazgos</a></li>
            <li><a href="/cecas">Cecas</a></li>
            <li><a href="/mapa">Mapa</a></li>
            <li><a href="/graficos">Gráficos</a></li>
            <li><a href="/informes">Informes</a></li>
            <li><a href="https://www.wondercoins.es/">Proyecto WonderCoins</a></li>
        </ul>
    </div>
</div>

</body>
{% block lower_scripts %}{% endblock %}
</html>