<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Archeomoneta - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/src/tail.css">
</head>
<body>
<div class="flex flex-col h-screen">
<header>
    <div class="navbar bg-cabecera rounded-sm">
        <div class="navbar-start">
            <div class="w-10">
                <img src="../static/logo-sinletras-sinfondo.jpg" alt="WonderCoins" />
            </div>
        </div>
        <div class="navbar-center">
            <h1 class="text-8xl text-center font-alice">ARCHEOMONETA</h1>
        </div>
        <div class="navbar-end">
            <a class="btn btn-ghost normal-case text-xl">ARCHEOMONETA</a>
        </div>
    </div>
</header>
<div class="content flex-grow bg-fondo">
    {% block content %}{% endblock %}
</div>
<footer class="footer p-10 bg-neutral text-neutral-content">
    <div>
        <p class="footer-title">Trabajo realizado por Ángel Vila Vidal</p>
    </div>
    <div>
        <span class="footer-title">Redes sociales</span>
        <div>
        </div>
    </div>
</footer>
</div>
</body>
</html>