{% extends "base.html" %}
{% block title %}Cecas{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}
{% block content %}
    <div id="map" class="w-full h-full"></div>
    <script src="../static/mapa.js"></script>
    <script>
    {% for i in cecas %}
        L.marker([{{ i["map"]["lat"] }}, {{ i["map"]["lon"] }}]).addTo(map).bindPopup("{{ i["name"] }}");
    {% endfor %}
    </script>
{% endblock %}