{% extends "base.html" %}
{% block title %}Buscador de tipos{% endblock %}
{% block content %}
    <div id="searchbar" class="form-control w-full">
        <form method="POST">
            <div class="grid grid-cols-3 gap-5">
                <div>
                    <label class="label" for="material">
                        <span class="label-text">Material</span>
                    </label>
                    <select id="material" class="select select-bordered" name="material">
                        <option value="" selected>Seleccionar</option>
                        {% for m in mats %}
                            <option>{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="catalogo" class="label">
                        <span class="label-text">Catálogo</span>
                    </label>
                    <select id="catalogo" class="select select-bordered" name="catalogo">
                        <option value="" selected>Seleccionar</option>
                        {% for m in cats %}
                            <option>{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="label" for="denominacion">
                        <span class="label-text">Denominación</span>
                    </label>
                    <select id="denominacion" class="select select-bordered" name="denominacion">
                        <option value="" selected>Seleccionar</option>
                        {% for m in dems %}
                            <option>{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-5">
                <div>
                    <label class="label" for="ceca">
                        <span class="label-text">Ceca</span>
                    </label>
                    <input id="ceca" class="input input-md input-bordered w-full max-w" name="ceca">
                </div>
                <div class="grid grid-cols-2 gap-x-5">
                    <div>
                        <label class="label" for="date_in">
                            <span class="label-text">Fecha inicial</span>
                        </label>
                        <input id="date_in" type="number" class="input-md w-full" name="date_in">
                    </div>
                    <div>
                        <label class="label" for="date_out">
                            <span class="label-text">Fecha final</span>
                        </label>
                        <input id="date_out" type="number" class="input-md w-full" name="date_out">
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" class="btn w-1/3" value="Buscar" name="Buscar">
            <a href="/buscador_tipos/reiniciar" class="w-1/4"><input type="button" class="btn btn-outline"
                                                                     value="Reiniciar"></a>
        </form>
    </div>
    <br>
    {% if tipos|length > 0 %}
        <div class="grid grid-cols-2">
            <div class="btn-group" id="paginador">
                <form method="post">
                    <button type="submit" class="btn" name="pagina" value="0">INICIO</button>
                    {% if page > 1 %}
                        <button type="submit" class="btn" name="pagina"
                                value="{{ page - 2 }}">{{ page - 1 }}</button>{% endif %}
                    {% if page > 0 %}
                        <button type="submit" class="btn" name="pagina"
                                value="{{ page - 1 }}">{{ page }}</button>{% endif %}
                    <button type="submit" name="pagina" value="{{ page }}"
                            class="btn btn-active">{{ page + 1 }}</button>
                    {% if page < n_pages - 1 %}
                        <button type="submit" class="btn" name="pagina"
                                value="{{ page + 1 }}">{{ page + 2 }}</button> {% endif %}
                    {% if page < n_pages - 2 %}
                        <button type="submit" class="btn" name="pagina"
                                value="{{ page + 2 }}">{{ page + 3 }}</button> {% endif %}
                    <button type="submit" class="btn" name="pagina" value="{{ n_pages - 1 }}">FIN</button>
                </form>
            </div>
            <p class="text-xl">Mostrando {{ page * 50 + 1 }}-{% if (1 + page) * 50 <= n_tipos %}
                {{ (page + 1) * 50 }}{% else %}{{ n_tipos }}
            {% endif %} de {{ n_tipos }} tipos</p>
        </div>
        <ul class="menu bg-base-300 w-full rounded-box p-10">
            {% for i in tipos %}
                <li><a href="/tipo/{{ i["section_id"] }}" target="_blank">{{ i["uri"] }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-4xl">No se han encontrado tipos</p>
    {% endif %}

{% endblock %}